<div id="ul_ticket"></div>
<link rel="stylesheet" href="extension/unlimit/catalog/view/stylesheet/ul_checkout.css">
<input type="hidden" id="paymentType" value="ticket"/>
<input type="hidden" id="contryType" value="{{ countryType }}"/>


<div class="clearfix"></div>
<div id="spinner">
    <div id="ul-box-form">
        <div class="ul-box-inputs ul-line">
            <div class="ul-box-inputs ul-col-50">
                <div class="ul-title-checkout">{{ payment_title }}</div>
            </div>
        </div>
        <div id="unlimit-form">
            <form method="post" onsubmit="return validateUlCpf('docnumber', 'cpf-error')" id="ul-form" name="ul-form"
                  action="{{ actionForm }}">
                <div class="ul-box-inputs ul-col-100">
                    <label class='ul-label-form title-cpf' for="ulBoletoNumber">{{ ul_phone_number }} <em>*</em></label>
                    <input type="text" id="ulBoletoNumber" name="unlimit_custom[ulBoletoNumber]"
                           data-checkout="ulBoletoNumber"
                           autocomplete="off"/>
                    <span id="boleto-number"></span>
                    <span class="ul-error" id="ulBoletoError"
                          data-main="#ulBoletoNumber"> {{ error_empty_phone }} </span>
                    <span class="ul-error" id="ulBoletoError-second"
                          data-main="#ulBoletoNumber"> {{ error_invalid_phone }} </span>
                </div>

                <div class="ul-box-inputs ul-col-100">
                    <label for='docnumber' id='ul-cpf-label'
                           class='ul-label-form title-cpf'>CPF
                        <em>*</em></label>
                    <input type='text'
                           onkeyup="formatUlBoletoCpf(this.id);" onfocusout="validateUlInput();"
                           class='ul-form-control'
                           id='docnumber' data-checkout="docNumber" name='unlimit_custom[docnumber]'
                           autocomplete='off' maxlength='14'
                           placeholder='XXX.XXX.XXX-XX'>
                    <span class='ul-error' data-main='#ul-cpf-ticket'
                          id='cpf-error'>{{ error_invalid_cpf }}</span>
                    <span class='ul-error' data-main='#ul-cpf-ticket'
                          id='cpf-error-1'>{{ error_empty_cpf }}</span>
                </div>
                {% if payment_postcode == '' %}
                    <div class="ul-box-inputs ul-col-100">
                        <label class="ul-label-form title-cpf"
                               for="input_payment_postcode">{{ labels.label_post_code }} <em>*</em></label>
                        <input type="text" name="unlimit_custom[postcode]" data-checkout="postcode" value=""
                               placeholder="{{ labels.label_post_code }}" minlength="2" maxlength="10"
                               id="input_payment_postcode" class="ul-form-control"
                               onfocusout="validatePostCodeInput('boleto');">
                        <span class='ul-error' data-main='#ul-post-code'
                              id='post-code'>{{ errors.error_invalid_post_code }}</span>
                    </div>
                {% endif %}
                <div class="ul-box-inputs ul-line">
                    <div class="ul-box-inputs ul-col-50">
                        <img alt="{{ action }}" src="extension/unlimit/admin/view/image/payment/{{ action }}/boleto.png"
                             width="53"
                             height="35"/>
                    </div>
                </div>
                <div class="ul-box-inputs ul-line">
                    <div class="ul-box-inputs ul-col-50">
                        <input type="submit" id="ulBtnSubmit" data-prefix="Boleto" data-method="gateway"
                               name="btnSubmit" value={{ payment_button }}>
                    </div>

                    <div class="ul-box-inputs ul-col-25">
                        <div id="ul-box-loading">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/mask.js"></script>' }}
    {{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/ticket/ul_ticket_checkout.js"></script>' }}
    {{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/ticket/ul_lib_ticket.js"></script>' }}
    {{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/ul_checkout.js"></script>' }}
    {{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/pix/ul_pix_checkout.js"></script>' }}

<script type='text/javascript'>
  function validateUlInput () {
    setTimeout(validateUlBoletoCpf(), 1)
  }
</script>