<script type='text/javascript' src='./view/javascript/ul/card/bankcard_settings_unlimint.js'></script>
<script type='text/javascript'>
    var BANKCARD_ALERT_TRANSLATIONS = {};
    {% for key, value in dialogs %}
    BANKCARD_ALERT_TRANSLATIONS['{{ key }}'] = '{{ value }}';
    {% endfor %}
    window.onload = function () {
        let buttons = [];
        {% if buttons.capture %}
            buttons.push('<button type="button" id="ul_button_capture" class="btn pull-right" ' +
            ' style="{{ style }}margin-left: 4px;"  onclick="ulCapturePayment()">{{ ul_button_capture }}</button>');
        {% endif %}
        {% if buttons.cancel %}
            buttons.push('<button type="button" id="ul_button_cancel" class="btn pull-right" ' +
            ' style="{{ style }}margin-left: 4px;"  onclick="ulCancelPayment()">{{ ul_button_cancel }}</button>');
        {% endif %}
        {% if buttons.refund %}
            buttons.push('<button type="button" id="ul_button_refund" class="btn pull-right" ' +
            ' style="{{ style }}margin-left: 4px;"  onclick="ulRefundShow()">{{ ul_button_refund }}</button>');
        {% endif %}
        jQuery(buttons.join(' ')).insertBefore('div.page-header');
        {% if buttons.refund %}
        jQuery.get('index.php?route=ajax/ajax_form/ajaxRefundForm&order_id={{ order_id }}&user_token={{ user_token }}')
            .success(function (unlimint_form) {
                jQuery('.form-horizontal').append(unlimint_form);
            })
        {% endif %}
    }
</script>