<div id="ul_mbway"></div>
<link href="extension/unlimit/catalog/view/stylesheet/ul_checkout.css" rel="stylesheet" type="text/css">
<input type="hidden" id="paymentType" value="mbway"/>
<input type="hidden" id="contryType" value="{{ countryType }}"/>


<div class="clearfix"></div>
<div id="spinner">
    <div id="ul-box-form">
        <div class="ul-box-inputs ul-line">
            <div class="ul-box-inputs ul-col-50">
                <div class="ul-title-checkout">{{ payment_title }}</div>
            </div>
        </div>
        <div id="unlimit-form">
            <form method="post" id="ul-form" name="ul-form"
                  action="{{ actionForm }}">

                <div class="ul-box-inputs ul-col-100">
                    <label for="ulMbwayNumber">{{ ul_mbway_phone_number }} <em>*</em></label>
                    <input type="text" id="ulMbwayNumber" name="unlimit_custom[ulMbwayNumber]"
                           data-checkout="ulMbwayNumber"
                           autocomplete="off"/>
                    <span id="mbway-number"></span>
                    <span class="ul-error" id="ulMbwayError"
                          data-main="#ulMbwayNumber"> {{ error_empty_mbway_phone }} </span>
                    <span class="ul-error" id="ulMbwayError-second"
                          data-main="#ulMbwayNumber"> {{ error_invalid_mbway_phone }} </span>
                </div>

                <div class="ul-box-inputs ul-line">
                    <div class="ul-box-inputs ul-col-50">
                        <img alt="{{ action }}"
                             src="extension/unlimit/admin/view/image/payment/{{ action }}ul_mbway.png" width="45"
                             height="40"/>
                    </div>
                </div>

                <div class="ul-box-inputs ul-line">
                    <div class="ul-box-inputs ul-col-50">
                        {% if is_mbway_payment_page_required == 1 %}
                            <input type="submit" id="ulBtnSubmit" data-prefix="Mbway"
                                   data-method="payment_page" name="btnSubmit" value={{ payment_button }}>
                        {% else %}
                            <input type="submit" id="ulBtnSubmit" data-prefix="Mbway"
                                   data-method="gateway" name="btnSubmit" value={{ payment_button }}>
                        {% endif %}
                    </div>

                    <div class="ul-box-inputs ul-col-25">
                        <div id="ul-box-loading">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/mask.js"></script>' }}
    {{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/mbway/ul_mbway_checkout.js"></script>' }}
{{ '<script defer src="./extension/unlimit/catalog/view/javascript/ul/ul_checkout.js"></script>' }}
<script>
  const cartPageLink = "{{ cartPageLink }}&language={{ languageCode }}";
</script>