<div id="ul_ticket"></div>
<link href="./catalog/view/theme/default/stylesheet/ul_checkout.css" rel="stylesheet" type="text/css">
<input type="hidden" id="paymentType" value="ticket"/>
<input type="hidden" id="contryType" value="{{ countryType }}"/>

<div id="spinner">
    <form method="post" onsubmit="return validateUlCpf('docnumber', 'boleto-cpf-error')" id="ul-form" name="ul-form"
          action="{{ actionForm }}">
        <div class="panel-body" id="checkout-payment">
            <div id="form-ticket">
                <div id="formULB">
                    <div class="form-row" id="formFisica">
                        <div class="form-row">
                            <div class="form-col-6">
                                <label for='docnumber' id='ul-cpf-label'
                                       class='ul-label-form title-cpf'>CPF
                                    <em>*</em></label>
                                <br>
                                <br>
                                <input type='text'
                                       onkeyup="formatUlBoletoCpf(this.id);" onfocusout="validateUlBoletoInput();"
                                       class='ul-form-control'
                                       id='docnumber' data-checkout="docNumber" name='unlimint_custom[docnumber]'
                                       autocomplete='off' maxlength='14'
                                       placeholder='XXX.XXX.XXX-XX'><br/>
                                <span class='ul-error' data-main='#ul-cpf-ticket'
                                      id='boleto-cpf-error'>CPF IS INVALID</span>
                                <span class='ul-error' data-main='#ul-cpf-ticket'
                                      id='boleto-cpf-error-1'>PLEASE FILL OUT A CPF</span><br/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="div_payment_methods" style="text-align: center; margin-left: 30%;"></div>
                    {% if payment_postcode == '' %}
                        <div class="form-row">
                            <div class="form-row">
                                <div class="form-col-6">
                                    <label class="ul-label-form title-cpf" for="input-payment-postcode">Post
                                        Code <em>*</em></label>
                                    <br>
                                    <input type="text" name="postcode" data-checkout="postcode" value=""
                                           placeholder="Post Code" minlength="2" maxlength="10"
                                           id="input_payment_postcode" class="ul-form-control"
                                           onfocusout="validatePostCodeInput();">
                                    <br>
                                    <span class='ul-error' data-main='#ul-post-code'
                                          id='boleto-post-code'>Postcode must be between 2 and 10 characters!</span><br/>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="postcode" value="{{ payment_postcode }}">
                    {% endif %}
                    <br>
                    <img src="admin/view/image/payment/{{ action }}/boleto.png" width="53" height="35" alt="Boleto">
                    <br>
                    <br>
                    <div class="form-row">
                        <div class="form-col-12">
                            <input type="hidden" id="payment_method_id"/>
                            <input type="submit" id="btnSubmit" name="btnSubmit" value="{{ payment_button }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{ '<script defer src="./catalog/view/javascript/ul/mask.js"></script>' }}
    {{ '<script defer src="./catalog/view/javascript/ul/ticket/ul_ticket_checkout.js"></script>' }}
    {{ '<script defer src="./catalog/view/javascript/ul/ticket/ul_lib_ticket.js"></script>' }}

</div>
<script type='text/javascript'>
    function validateUlBoletoInput() {
        setTimeout(validateUlBoletoCpf(), 1);
    }

    function validatePostCodeInput() {
        const y = document.getElementById('input_payment_postcode');
        if (y) {
            const x = document.getElementById('input_payment_postcode').value;
            const cpfField = jQuery('#input_payment_postcode');
            cpfField.removeClass('ul-form-control-error');

            const cpfError = jQuery('#boleto-post-code');
            cpfError.hide();

            if (x === '' || x.length < 2 || x.length > 10) {
                cpfField.addClass('ul-form-control-error');
                cpfError.focus();
                cpfError.show();
                return false;
            }

            return true;
        }
    }
</script>
<script type="text/javascript">
    function clickRadioType(id) {
        if (id === "fisica") {
            $('#fisica').attr('checked', true);
            $('#juridica').attr('checked', false);
            $("#formJuridica").hide();
            $("#formFisica").show();
        } else {
            $('#fisica').attr('checked', false);
            $('#juridica').attr('checked', true);
            $("#formJuridica").show();
            $("#formFisica").hide();
        }
    }

    function init() {
        $("#formULB").show();
        //$("#div_payment_methods").show();
        clickRadioType('fisica');
        $("#ul-cpf-ticket").mask("999.999.999-99");
        $("#docNumberCNPJ").mask("99.999.999/9999-99");
    }

    $(document).ready(function () {
        init();
    });

    init();
</script>